
<div class="custom-class" [ngClass]="classObject">
    <div class="profilecount">
        <ng-content select="[usercount]"></ng-content>
    </div>
    <div class="adduser">
        <button (click)="showAddModal()" class="addbutton">Add User</button>
    </div>
</div>

