.custom-class {
  min-height: 75px;
  padding: 10px 20px;
  background-color: #3284ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profilecount{
  color: white;
}

.adduser{
  width: 7%;
}

.addbutton{
  background-color: white;
  color: #3284ff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
}