
<app-navbar (showaddmodal)="showAddModal($event)">
    <div usercount>Total Users: {{ userCount }}</div>
</app-navbar>

<app-dashboard (selectedUserDetails)="userDetails($event)" (addedUser)="addUserDetails($event)" (deletedUser)="deleteUserDetails($event)" (deletedUser1)="deleteUserDetails1($event)" [users]="users" [user]="user" [addNewUser]="addNewUser" ></app-dashboard>
