<div class="searchbar">
    <input class="searchbarbox" type="text" [(ngModel)]="searchTerm">
    <img class="searchicon" src="https://static.vecteezy.com/system/resources/thumbnails/009/652/218/small/magnifying-glass-icon-isolated-on-white-background-search-illustration-vector.jpg" alt="">
  </div>
  
  <div class="useritem" *ngFor="let i of users | searchFilter: searchTerm">
    <app-usercard
      (sendSelectedUser)="selectedUser($event)"
      (sendSelectedUser)="sendUserData()"
      [user]="i"
      [selectedUser1]="user"
      (deletefromside)="delete($event)"
      (deletefromside)="deletesend()"
    ></app-usercard>
  </div>