
.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 30px;
    padding: 7px;
    margin-top: 0.7rem;
    margin-bottom: 1.5rem;
    background-color: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.searchbarbox{
    border: none;
    outline: none;
    padding: 0px 10px;
}

.searchicon{
    height: 35px;
    width: 40px;
}

.useritem {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
