<div *ngIf="!addNewUser" class="tempcontainer">
  <img
    class="noprofiles"
    src="https://img.freepik.com/free-vector/hand-drawn-no-data-illustration_23-2150696458.jpg?size=338&ext=jpg&ga=GA1.1.1292351815.1712102400&semt=ais"
    alt="Loading"
  />
  <div class="noprofilestext">
    Select any user to edit or delete them or add new user!!!
  </div>
</div>
<div *ngIf="addNewUser" class="profilecontainer">
  <div class="functioncontainer">
    <div class="functionalities" *ngIf="user.role !== 'Admin'">
      <button
        *ngIf="isUserSelected"
        [disabled]="isEditable"
        (click)="editUser()"
        class="btn btn-outline-primary"
      >
        Edit
      </button>
      <button
        *ngIf="isUserSelected"
        (click)="deleteUser()"
        class="btn btn-outline-danger"
      >
        Delete
      </button>
      <button (click)="addUser()" class="btn btn-outline-success">Save</button>
    </div>
  </div>
  <div class="profileimage">
    <img
      class="profileimage1"
      src="https://img.freepik.com/premium-vector/vector-flat-man-avatar-no-face-with-hairstyle_574806-4740.jpg"
      alt="Loading"
    />
    <img *ngIf="formData.role==='Admin'" class="showadmin" src="https://previews.123rf.com/images/carmendorin/carmendorin1405/carmendorin140500034/28009966-grunge-rubber-stamp-with-text-admin-vector-illustration.jpg" alt="Loading">
  </div>
  <div class="profiledetails">
    <div class="headd">
      <div class="profiledetailshead">Profile Details</div>
    </div>
    <div class="profileinput">
      <div class="individualdetail">
        <label class="inputname">Name :</label>
        <input
          type="text"
          class="profiledets"
          [(ngModel)]="formData.name"
          name="name"
          [disabled]="!isEditable"
        />
      </div>
      <div *ngIf="!isCorrectName" class="errormessage1">
        Name field should not be empty
      </div>
      <div class="individualdetail">
        <label class="inputname" for="countrytype">Select Country:</label>
        <select
          class="profiledets"
          id="countrytype"
          name="countrytype"
          [(ngModel)]="formData.country"
          [disabled]="!isEditable"
        >
          <option value="India">India</option>
          <option value="Australia">Australia</option>
          <option value="Japan">Japan</option>
          <option value="Thailand">Thailand</option>
        </select>
      </div>
      <div class="individualdetail">
        <label class="inputname">Mobile :</label>
        <input
          type="text"
          class="profiledets"
          [(ngModel)]="formData.mobile"
          name="mobile"
          [disabled]="!isEditable"
        />
      </div>
      <div *ngIf="!isCorrectMobile" class="errormessage2">
        Mobile Number must be of 10 digits
      </div>
      <div class="individualdetail">
        <label class="inputname">Date of Birth :</label>
        <input
          type="date"
          class="profiledets"
          [(ngModel)]="formData.dob"
          name="dob"
          [disabled]="!isEditable"
        />
      </div>
      <div *ngIf="!isCorrectDob" class="errormessage4">
        Date of Birth field should not be empty
      </div>
      <div class="individualdetail">
        <label class="inputname">Age :</label>
        <input
          type="number"
          class="profiledets"
          [(ngModel)]="formData.age"
          name="age"
          [disabled]="!isEditable"
        />
      </div>
      <div *ngIf="!isCorrectAge" class="errormessage3">Cannot be 0</div>
      <div class="individualdetail">
        <label class="inputname" for="usertype">Select User Type:</label>
        <select
          class="profiledets"
          id="usertype"
          name="usertype"
          [(ngModel)]="formData.role"
          [disabled]="!isEditable"
        >
          <option value="User">User</option>
          <option value="Admin">Admin</option>
        </select>
      </div>
      <div *ngIf="isEditable1" class="editmessage">
        You can edit the details now
      </div>
    </div>
  </div>
</div>
