
.tempcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    height: 100%;
    margin-bottom: 2rem;
}

.noprofiles{
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

.noprofilestext{
    text-align: center;
    font-size: 1.15rem;
    font-weight: 600;
}

.profilecontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.functioncontainer{
    display: flex;
    justify-content: flex-end;
}

.functionalities{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 20%;
    justify-content: flex-end;
    // width:100%;
}

.profileimage{
    display: flex;
    justify-content: center;
    position: relative;
}

.profileimage1{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.showadmin{
    position: absolute;
    height: 65px;
    width:65px;
    bottom: 32%;
    right: 47.55%;
    mix-blend-mode: color-burn;
}

.headd{
    margin-top: 1.15rem;
    display: flex;
    justify-content: center;
}
.profiledetailshead{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #bbbbbb;
    width: 59%;
}

.profileinput{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.individualdetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .inputname {
    font-weight: 600;
    width: 7%;
  }
  
  .profiledets {
    padding: 10px;
    border: 1px solid #dad9d9;
    border-radius: 7px;
    width: 50%;
  }
  
  .profiledets:focus {
    outline: none;
  }
  
  .errormessage1{
    display: flex;
    justify-content: center;
    width: 75%;
    color: red;
  }
  .errormessage2{
    display: flex;
    justify-content: center;
    width: 77%;
    color: red;
  }
  .errormessage3{
    display: flex;
    justify-content: center;
    width: 64%;
    color: red;
  }
  .errormessage4{
    display: flex;
    justify-content: center;
    width: 79%;
    color: red;
  }

  .editmessage{
    display: flex;
    justify-content: center;
    color: blue;
  }