
<div class="dashboardcontainer">
    <div class="sidebarcontainer">
        <div class="sidebarheading">
            Users
        </div>
        <app-sidebar (sendSelectedUser)="sendUserData($event)" (deletesend1)="deletesend($event)" (deletesend1)="deleteUserDetails1()"  (sendSelectedUser)="userDetails()" [users]="users" [user]="user" ></app-sidebar>
    </div>
    <div class="viewpage">
        <app-viewpage (adduserFunc)="addUser($event)" (adduserFunc)="addUserDetails()" (deleteuserFunc)="deleteUser($event)" (deleteuserFunc)="deleteUserDetails()" [user]="user" [addNewUser]="addNewUser" ></app-viewpage>
    </div>
</div>