.dashboardcontainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.sidebarheading{
    text-align: center;
    font-weight: 600;
    font-size: 1.15rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 1.25rem;
}

.sidebarcontainer {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  overflow: hidden;
  overflow-y: scroll;
  width:35%;
  background-color: #f4f4f4;
}

.viewpage {
  display: flex;
  width: 100%;
  flex-grow: 4;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 20px 15px;
//   border: 1px solid black;
}
