<div
  (click)="selectedUser()"
  [class.selected]="selectedUser1.id === user.id"
  class="usercontainer"
>
  <div class="leftside">
    <img class="profileimg" src="{{ user.profileimage }}" alt="Loading" />
  </div>
  <div class="rightside">
    <div class="profileitem">
      {{ user.name }}
    </div>
    <div class="profileitem">
        {{ user | countrycode }}
    </div>
    <div class="profileitem">
      {{ user.dob | date:'mediumDate' }}
    </div>
    <div *ngIf="user.role==='User' && selectedUser1.id === user.id" class="deleteimage">
        <img (click)="delete()" class="deleteicon" src="https://static.vecteezy.com/system/resources/thumbnails/004/581/271/small/trash-can-icon-garbage-bin-with-lid-delete-symbol-illustration-free-vector.jpg" alt="">
    </div>
  </div>
  <img *ngIf="user.role === 'Admin'"
    class="imagecrown"
    src="https://static.vecteezy.com/system/resources/previews/019/194/969/non_2x/three-persons-admin-icon-color-outline-vector.jpg"
    alt="Loading"
  />
</div>
