.usercontainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  padding: 15px 45px;
  background-color: white;
  border-radius: 7px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.profileimg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.leftside {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  width: 50%;
  border-right: 1px solid #adadad;
}

.rightside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.deleteimage{
    position: absolute;
    top:0;
    left:92%;
}

.deleteicon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.profileitem {
  display: flex;
  justify-content: flex-end;
}

.selected {
  border: 1px solid blue;
}


.imagecrown {
  position: absolute;
  bottom: 27%;
  left:94%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 10px;
  box-shadow: -1.5px 0 0px rgba(0, 0, 0, 0.2); 

  background-color: #f4f4f4;
//   opacity: 0.7;
}
