/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    width: 100%;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
  }
  